@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

header {

    text-align: center;
    font-size: 36px;
    color: aliceblue;
    font-family: "Grenze Gotisch", serif;
    margin-top: -60px;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5) ;
}

body {

    text-align: center;
    background-image: url(rockwall.jpg);
    color: aliceblue;
    font-size: 18px;
}

a {
    font-size: 28px;
    text-decoration: none;
    color: aliceblue;
    padding: 18px 208px 18px 208px;
    border-radius: 18px;
    margin: auto;
}

.botao{
    text-align: center;
    background-color: #5B3A29;
    border: 1px solid white;
    text-align: center;
    width: 30%;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 18px;
}

img {

    margin: 20px;

}

.fala{
color: azure;
text-align: center;
font-size: 36px
}

.historia{

margin-top: 30px;
margin-bottom: 25px

}